#flex {
    background-color: #050A30;
    text-align: center;
    color: #189AB4; 
    padding: 15px;
}

#text-404 {
    margin: 0 auto;
    margin-bottom: -50px;
    font-size: 320px;
}

@media screen and (max-width: 900px){
    #text-404 {
        font-size: 100px;
        margin-bottom: -30px;
    }

    h1 {
        font-size: 25px;
    }
}