#flex {
    display: block;
    flex-wrap: no-wrap;
    padding: 15px;
    background-color: #050A30;
    color: #189AB4; 
}

h2{

    text-align: center;
}

p {
    padding: 15px;
    font-size: large;
}