#flex {
    display: flex;
    flex-wrap: no-wrap;
    background-color: #050A30;
    color: #189AB4; 
    padding: 15px;
}

#icon {
    order: 1;
    height: auto;
    max-width: 352px;
    margin: 15px;
}

#icon img {
    height: auto;
    width: 100%;
}

#content {
    display: inline-block;
    padding: 15px;
    order: 2;
}

#content h1{
    line-height: 35px;
}